<div class="member-directory">

  <div class="dir-header">
    <h2 class="dir-title">Member Directory</h2>
    <div class="dir-actions">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input type="text" placeholder="Search members..." />
      </div>
      <button class="btn-add" (click)="toggleModal(true)">＋ Add Member</button>
    </div>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
          <th>Code</th>
          
          <th>Name</th>
          <th>Membership Plan</th>
          <th>PhoneNo</th>
          <th>StartDate</th>
          <th>Status</th>
          <th>Actions</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (m of memberdata; track m.id) {
          <tr>
            <td>
              <div class="member-cell">
                <span>{{ m.code }}</span>
              </div>
            </td>
            <td class="muted">{{ m.name }}</td>
             <td class="muted">{{ getPlanName(m.planId) }}</td>
            <td class="muted">{{ m.phoneNo }}</td>
            <td class="muted">{{ m.startDate | date:'fulldate' }}</td>
            <td class="muted">{{ m.status ? "Active": "InActive" }}</td>
            <div class="action-menu">
          <button class="btn-edit" >Edit</button>
          <button class="btn-delete" >Delete</button>
        </div>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (showModal) {
    <div class="modal-overlay">
      <div class="modal-card">
        <div class="modal-header">
          <h3>ADD NEW MEMBER</h3>
          <span class="close-x" (click)="toggleModal(false)">&times;</span>
        </div>

        <form class="member-form" (submit)="$event.preventDefault()">
          <div class="f-group">
            <label>Code</label>
            <input type="text" [(ngModel)]="memberForm.code" name="Code" placeholder="Enter Code">
          </div>
          <div class="f-group">
            <label>Full Name</label>
            <input type="text" [(ngModel)]="memberForm.name" name="Name" placeholder="Enter name">
          </div>
          <div class="f-group">
            <label>Membership Type</label>
            <select [(ngModel)] = "memberForm.planId" name="PlanId">
              <option value="0">select Membership Plan</option>
              @for (item of membershipPlans; track item.id) {
                <option [value]="item.id">{{item.name}}</option>
              }
            </select>
          </div>
          <div class="f-group">
            <label>Phone Number</label>
            <input type="text" [(ngModel)] = "memberForm.phoneNo" name="PhoneNo" placeholder="03xx xxxxxxx">
          </div>
          
          <div class="f-group">
            <label>Start Date</label>
            <input type="date" [(ngModel)] = "memberForm.startDate" name="StartDate">
          </div>
              <div class="f-group">
            <label>Status</label>
            <select [(ngModel)] = "memberForm.status" name="Status">
              <option value="0" disabled>select Status</option>
              <option value="true">Active</option>
              <option value="false">InActive</option>
            </select>
          </div>
           <div class="modal-footer">
         <button type="button" class="btn-save" (click)="saveMember()" >Save PLan</button>
          <button type="button" class="btn-cancel" (click)="toggleModal(false)">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  }

</div>