<div class="member-directory">

  <div class="dir-header">
    <h2 class="dir-title">Member Payment</h2>
    <div class="dir-actions">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input type="text" placeholder="Search members..." />
      </div>
      <button class="btn-add" (click)="ToggleModelAdd()">＋ Add Payment</button>
    </div>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
           <th>Member Name</th>
          <th>Amount</th>
          <th>Payment Type</th>
          <th>Payment Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
  @for (m of paymentRecord; track m.id) {
    <tr>
      <td style="color: #ffffff;">{{ getMemberName(m.memberId) }}</td>
      <td style="color: #ffffff;">
        <div class="member-cell">
          <span>{{ m.amount }}</span>
        </div>
      </td>
      <td style="color: #ffffff;">{{ m.paymentType }}</td>
      <td style="color: #ffffff;">{{ m.paymentStatus }}</td>
      <td>
        <div class="action-menu">
          <button class="btn-edit" (click)="EditPayment(m)">Edit</button>
          <button class="btn-delete" (click)="DeletePayment(m.id)" >Delete</button>
        </div>
      </td>
    </tr>
  }
   @empty {
    <tr>
      <td colspan="5" style="text-align: center; color: #888; padding: 20px;">
        No Record Found
      </td>
    </tr>
  }
</tbody>
    </table>
  </div>

@if (ShowModel) 
{
    <div class="modal-overlay">
      <div class="modal-card">
        <div class="modal-header">
          @if (paymentform.id != 0) 
          {
            <h3>Edit Payment Member</h3>
          }
          @else {
            <h3>Add Payment Member</h3>
          }
            
          <span class="close-x" (click)="ToggleModel(false)">&times;</span>
        </div>

        <form class="member-form" >          
          <div class="f-group">
            <label>Member Name</label>
              <select [(ngModel)] = "paymentform.memberId" name="memeberId">
              <option value="0" disabled>select Member</option>
              @for (item of memberRecord; track item.id) {
                <option [value]="item.id">{{item.name}}</option>
              }
            </select>
          </div>
          <div class="f-group">
            <label>Payment Type</label>
           <select [(ngModel)] ="paymentform.paymentType" name="paymentType" >
            <option value="0" disabled>select Payment Type</option>
            @for (item of paymentTypes; track $index) {
            <option [value]="item.value">{{item.display}}</option>
            }
           </select>
          </div>
          <div class="f-group">
            <label>Amount</label>
            <input type="number" [(ngModel)] = "paymentform.amount"  name="amount" >
          </div>
          <div class="f-group">
            <label>Payment Status</label>
            <select [(ngModel)] ="paymentform.paymentStatus" name="paymentStatus" >
            <option value="0" disabled>select Payment Status</option>
            @for (item of paymentstatus; track $index) {
            <option [value]="item.value">{{item.display}}</option>
            }
           </select>
          </div>
          <div class="modal-footer">
            @if(paymentform.id!=0)
            {
              <button type="button" class="btn-save" (click)="UpdateRecord()">Edit Payment</button>
            }
            @else {
              <button type="button" class="btn-save" (click)="AddRecord()">Save Payment</button>
            }
            
            <button type="button" class="btn-cancel" (click)="ToggleModel(false)">Cancel</button>
          </div>
        </form>
      </div>
    </div>
}
</div>
