<div class="member-directory">

  <div class="dir-header">
    <h2 class="dir-title">Member Directory</h2>
    <div class="dir-actions">
      <div class="search-box">
        <span class="search-icon">🔍</span>
        <input type="text" placeholder="Search members..." />
      </div>
      <button class="btn-add" (click)="resetForm()">＋ Add Member</button>
    </div>
  </div>

  <div class="table-wrap">
    <table>
      <thead>
        <tr>
           <th>Plan Code</th>
          <th>Plan Name</th>
          <th>Duration</th>
          <th>Amount</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
  @for (m of memberships; track m.id) {
    <tr>
      <td style="color: #ffffff;">{{ m.code }}</td>
      <td style="color: #ffffff;">
        <div class="member-cell">
          <span>{{ m.name }}</span>
        </div>
      </td>
      <td style="color: #ffffff;">{{ m.duration }}</td>
      <td style="color: #ffffff;">{{ m.amount }}</td>
      <td>
        <div class="action-menu">
          <button class="btn-edit" (click)="onEditMod(m)">Edit</button>
          <button class="btn-delete" (click)="OnDelete(m.id)">Delete</button>
        </div>
      </td>
    </tr>
  }
</tbody>
    </table>
  </div>

  @if (showModal) {
    <div class="modal-overlay">
      <div class="modal-card">
        <div class="modal-header">
          @if (membershipObject.id !=0) 
          {
            <h3>Edit MemberShip Plan</h3>
          }
          @else {
            <h3>Add MemberShip Plan</h3>
          }
          <span class="close-x" (click)="toggleModal(false)">&times;</span>
        </div>

        <form class="member-form" (submit)="$event.preventDefault()">
          <div class="f-group">
            <label>Plan Code</label>
            <input type="hidden" [(ngModel)]="membershipObject.id" id="id" name="id">
            <input type="text" [(ngModel)]="membershipObject.code" id="Code" name="code" placeholder="Enter Code">
          </div>
          <div class="f-group">
            <label>Plan Name</label>
            <input type="text" [(ngModel)]="membershipObject.name" name="name" placeholder="Enter Plan Name">
          </div>
          <div class="f-group">
            <label>Duration</label>
           <input type="text" [(ngModel)]="membershipObject.duration" name="duration" placeholder="Enter Duration">
          </div>
          <div class="f-group">
            <label>Amount</label>
            <input type="number" [(ngModel)]="membershipObject.amount" name="amount" >
          </div>
          
          <div class="modal-footer">
          @if (membershipObject.id !=0) 
          {
            <button type="button" class="btn-save" (click)="UpdateRecord()">Edit PLan</button>
          }
          @else {
            <button type="button" class="btn-save" (click)="addMemberShip()">Save PLan</button>
          }
            <button type="button" class="btn-cancel" (click)="toggleModal(false)">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  }

</div>